/**
  个人中心 资产页面 样式
  */

.skin-setting {
  background: #15232c;
  font-family: "Microsoft YaHei UI", sans-serif;

  margin: 0 auto;
  padding: 105px 0 35px 0;

  .p-title {
    width: 87%;
    margin: 0 auto 105px auto;

    font-size: 36px;
    color: #eaeaea;
    font-weight: bold;
    line-height: 38px;
  }

  .p-content {
    width: 87%;
    margin: 0 auto;
    padding: 35px;

    background: #254161;

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .p-aside {
    width: 30%;
    float: left;

    .menu .item.router-link-active {
      background: #436d9e;
    }
  }

  .p-article {
    width: 70%;
    padding-left: 10%;
    float: right;
    box-sizing: border-box;
    color: #eaeaea;
  }

}
